<h1>Test 1</h1>

<div class="row">
    <div class="col-md-6">
        <form class="form-inline" role="form" ng-submit="submit()">
            <label class="sr-only" for="api-key-in"></label>
            <input class="form-control" id="api-key-in" type="text" placeholder="api key" required ng-model="apiKey"/>
            <button class="btn btn-success">OK</button>
        </form>

        <div class="alert alert-info" ng-show="indicator">Laen andmeid...</div>
        <div class="alert alert-danger" ng-show="error">{{ error }}</div>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sõiduk</th>
                    <th>Kiirus</th>
                    <th>Aeg</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in table">
                    <td>{{ row.vehicle }}</td>
                    <td>{{ row.speed }}</td>
                    <td>{{ row.time }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-map="test1Map" ui-options="mapOptions" class="map-canvas"></div>
    </div>
</div>
