<h1>Test 2</h1>

<div class="row">
    <div class="col-md-6">
        <form class="form-inline" role="form" ng-submit="submit()">
            <label class="sr-only" for="api-key-in"></label>
            <input class="form-control" id="api-key-in" type="text" placeholder="api key" required ng-model="apiKey"/>
            <button class="btn btn-success">OK</button>
        </form>

        <div class="alert alert-info" ng-show="indicator">Laen andmeid...</div>
        <div class="alert alert-danger" ng-show="error">{{ error }}</div>
        <small>Tabel näitab keskmist kaugust, erinevalt ülesandes nõutud pindala kattuvusest. Markeriga on tähistatud alguspunkt. <br/>Teekondade vaatamiseks vajuta lahtri
               väärtusel.
        </small>
        <table class="table table-bordered task2-table">
            <thead>
                <tr>
                    <th>A \ B</th>
                    <th ng-repeat="(nr, row) in table" ng-class="{task2tablecolor1: nr==activeObjects[1]}">{{ nr }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(nr,row) in table">
                    <td ng-class="{task2tablecolor2: nr==activeObjects[0]}">{{ nr }}</td>
                    <td ng-repeat="(nr2,cell) in row"><span ng-click="showOnMap(nr,nr2,cell)">{{ cell }} km</span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6">
        <div ui-map="test2Map" ui-options="mapOptions" class="map-canvas"></div>
    </div>
</div>
