.navbar-static-top {
    margin-bottom: 19px;
}

.jumbotron .btn-success {
    font-size: 36px;
}

.form-inline {
    margin-bottom: 20px;
}

.map-canvas {
    height: 400px;
}

.task2tablecolor1 {
    background-color: #FF0000;
}

.task2tablecolor2 {
    background-color: #00FF00;
}

.task2-table tbody td:first-child {
    font-weight: bold;
}